:root {
  --black: #000000;
  --coral-red: #ff3e41;
  --green: #23ce6b;
  --mirage: #1a1c24;
  --shark: #1f2029;
  --shark-2: #24252f;
  --white: #ffffff;
  --white-2: #ffffff33;
  --white-3: #ffffff1a;

  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 22px;
  --font-size-xxl2: 28px;

  --font-family-proxima_nova-bold: "Proxima Nova-Bold", Helvetica;
  --font-family-proxima_nova-extrabold: "Proxima Nova-Extrabold", Helvetica;
  --font-family-proxima_nova-light: "Proxima Nova-Light", Helvetica;
  --font-family-proxima_nova-regular: "Proxima Nova-Regular", Helvetica;
}
.proximanova-light-white-16px-2 {
  color: var(--white);
  font-family: var(--font-family-proxima_nova-light);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
  overflow-wrap: break-word;
}

.proximanova-bold-white-16px-3 {
  color: var(--white);
  font-family: var(--font-family-proxima_nova-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  overflow-wrap: break-word;
}

.proximanova-bold-white-16px-2 {
  font-family: var(--font-family-proxima_nova-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  overflow-wrap: break-word;
}

.proximanova-light-white-14px {
  color: var(--white);
  font-family: var(--font-family-proxima_nova-light);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
  overflow-wrap: break-word;
}

.proximanova-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-proxima_nova-extrabold);
  font-style: normal;
  font-weight: 700;
  overflow-wrap: break-word;
}

.proximanova-bold-green-16px-2 {
  color: var(--green);
  font-family: var(--font-family-proxima_nova-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  overflow-wrap: break-word;
}

.proximanova-bold-coral-red-16px-2 {
  color: var(--coral-red);
  font-family: var(--font-family-proxima_nova-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  overflow-wrap: break-word;
}

.proximanova-extra-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-proxima_nova-extrabold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  overflow-wrap: break-word;
}

.proximanova-bold-white-28px-22 {
  color: var(--white);
  font-family: var(--font-family-proxima_nova-bold);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 700;
  overflow-wrap: break-word;
}

.proximanova-bold-white-28px-2 {
  font-family: var(--font-family-proxima_nova-bold);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 700;
  overflow-wrap: break-word;
}

.proximanova-bold-green-28px {
  color: var(--green);
  font-family: var(--font-family-proxima_nova-bold);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 700;
  overflow-wrap: break-word;
}

.proximanova-bold-white-22px {
  color: var(--white);
  font-family: var(--font-family-proxima_nova-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  overflow-wrap: break-word;
}

.proximanova-regular-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-proxima_nova-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  overflow-wrap: break-word;
}

.border-1px-white-2 {
  border: 1px solid var(--white-2);
}

#root,
html,
body,
#background {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #1a1c24;
  min-width: max-content;
}

.container{
  max-width: 95% !important;
}
