.cta-1 {
  align-items: center;
  background-color: var(--green);
  border-radius: 5px;
  display: flex;
  height: 38px;
  margin-bottom: 3px;
  margin-left: 40px;
  min-width: 177px;
  padding: 0 25px;
}

.connect-wallet {
  letter-spacing: 0;
  min-height: 18px;
  min-width: 127px;
}
